#openwindo{

padding: 10px 20px;
background-color: green;
color: red;
font-size: 17px;
}

/* input{
              background-color: blue;
              color:wheat;
              padding: 10px 20px;
              font-size: 17px;
} */
